<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

<title>Free Code Camp Nitelife App</title>

<%- include css-includes %>


<%- include navbar %>

<div class="row top-10-down container-fluid">
	<div class="container-fluid col-lg-10 col-sm-12 col-xs-12 col-lg-offset-1 bg-white box-shadow">
		<div class="row bg-primary container-fluid"><h1>Free Code Camp Nitelife App</h1></div>
		
		<form action="/" method="get">
			<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
				<input class="form-control" type="text" name="location">
			</div>
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				<button type="submit" class="btn btn-primary btn-block">Search</button>
			</div>
		</form>
	</div>
	
	<div class="container-fluid col-lg-10 col-sm-12 col-xs-12 col-lg-offset-1 bg-white box-shadow">
			<div class="well" id="resultArea">			
				<% if (yelpResults) { %>
					<% yelpResults.forEach(function(result) { %>
						<div>
							<div class="location-image pull-left img-thumbnail">
								<a href=" <%= result.url %> "><img src=" <%= result.image_url %>" /></a>
							</div>
							<div class="location-details">
								<div class="location-name"><h2><%= result.name %></h2></div>
								
								<% if (result.fcc.imGoing) { %>
									<a class="btn btn-success resultButton" href="/API?location=<%= reqLocation%>&locationId=<%= result.id %>">You Are Going <span class="badge"><%= result.fcc.goingCount %> going</span></a>
								<% } else { %>
									<a class="btn btn-primary resultButton" href="/API?location=<%= reqLocation%>&locationId=<%= result.id %>">Go <span class="badge"><%= result.fcc.goingCount %> going</span></a>								
								<% } %>											
							</div>
						</div>					
					<% }); %>
				<% } else { %>
				<% } %>	
			</div>
		
	</div>
</div>

<%- include script-includes %>
